* {
    margin:0;
    padding:0;
    box-sizing:0;
}
body{
    width: 90%;
    background-image: url("Imagens/Amor\ plano.jfif");
    height: 150vh;
    background-size: 100%;
    background-repeat: no-repeat;
    
}
@import url(Fontes/OpenSans-VariableFont_wdth\,wght.ttf);
body{
    font-family: "Open Sans", sans-serif
}
.Titulo{
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 80%;

}
.Texto{
    color: rgb(255, 255, 255);
    text-align: center;
    border: solid rgb(255, 255, 255) 5px;
    box-shadow: 15% 15%;
    font-weight: 400;
    font-size: 55%;
}
.SetaD{
    width: 5%;
}
