body{
    background-color: #EEE2DF;
}
.navbar-expand-sm{
    background-color: #5B61B2;
    height: 130px;
}
.Logo{
    width: 120px;
    height: 120px;
}
.ImagemLogo{
    width: 100%;
    height: 100%;
}
.Tamanhocabecario{
    background-color: #5B61B2;
    margin: 0px 0px 50px;
}
.BlocoImagemNos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.IconesNos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.IconesInicial{
    width: 33%;
    height: 400px;
}
@media(max-width: 580px){
    .BlocoImagemNos{
        padding: 40px 40px;
    }
    .IconesInicial{
        height: 180px;
    }
}
@media(min-width: 581px){
    .BlocoApresentacaoAmor{
        display: flex;
        height: 400px;
    }
    .ImgApresentacao{
        width: 65%;
        height: 90%;
        border-radius: 100%;
        
    }
    .BlocoImagemNos{
        padding: 50px 120px;
    }
    .IconesInicial{
        height: 350px;
    }
}

.BlocoApresentacaoAmor{
    background-color: #5B61B2;
}
.ImagemApresentacao{
    display: flex;
    align-items: center;
}
.TextoApresentacao{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.Capa{
    display: flex;
    text-align: center;
    justify-content: center;  
    margin-top: 200px;
}
.central{
    display: flex;
    justify-content: center;
}
.BlocoCarta{
    display: flex;
    flex-direction: column;
}
.ImgCarta{
    width: 512px;
    height: 512px;
}


.BlocoRodaPe{
    background-color: #5B61B2;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.BlocoCarrosel{
    width: 60%;
    height: 400px;

    }
.ImgCarrosel{
    width: 100%;
    height: 100%;
}
.imagemcarrosel{
    height: 100%;
}