{
    background-color: #EEE2DF;
}
.navbar-expand-sm{
    background-color: #5B61B2;
}
.Logo{
    width: 120px;
    height: 120px;
    margin-right: 50px;
}
.ImagemLogo{
    width: 100%;
    height: 100%;
}
.texto{
    color: #DEC1DB;
    font-size: 18px;
    font-weight: 500;
}
.TituloApresentação{
    display: flex;
    flex-direction: column;
    background-color: #5B61B2;
    margin-top: 60px;
}
.RedesSóciais{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BlocoImagemNos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.IconesNos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.IconesInicial{
    width: 33%;
    height: 400px;
}
.centralap{
    display: flex;
    justify-content: center;
    text-align: center;
}
@media(max-width: 580px){
    .BlocoApresentacaoAmor{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 30px;
        padding: 0px 0px 30px 0px;
    }
    .BlocoImagemNos{
        padding: 40px 40px;
    }
    .IconesInicial{
        height: 180px;
    }
    .Redirecionador{
    display: flex;
    flex-direction: column;
}
    .linkredes{
        margin: 30px;
    }
}
@media(min-width: 581px){
    .BlocoApresentacaoAmor{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 30px;
        padding: 0px 0px 10px 0px;
    }
    
    .BlocoImagemNos{
        padding: 50px 120px;
    }
    .IconesInicial{
        height: 350px;
    }
    .Redirecionador{
    display: flex;
    flex-direction: row;
}
    .linkredes{
    width: 3%;
    margin: 20px 30px 0px 0px;
}
    .ImagemRedes{
    width: 100%;
}
    .linkredes2{
    width: 8%;
    margin: 10px 30px 10px 0px;
}
    .LogoRodaPe{
    width: 12%;
    height: 150px;
}
}
h1{
    margin: 0px 0px;
}
.BlocoApresentacaoAmor{
    background-color: #5B61B2;
}
.ImagemApresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.TextoApresentacao{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.ImgApresentacao{
    border-radius: 100%;
}
.Capa{
    display: flex;
    text-align: center;
    justify-content: center;  
    margin-top: 100px;
}
.central{
    display: flex;
    justify-content: center;
}
.BlocoCarta{
    display: flex;
    flex-direction: column;
}
.ImgCarta{
    width: 512px;
    height: 512px;
}



.BlocoCarrosel{
    width: 60%;
    height: 400px;

    }
.ImgCarrosel{
    width: 100%;
    height: 100%;
}
.imagemcarrosel{
    height: 100%;
}




.BlocoRodaPe{
    background-color: #5B61B2;
    display: flex;
    flex-direction: column;
}

.IconesRedes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TextoRodaPe{
    display: flex;
    flex-direction: column;
}
.TxtRodaPe{
    color: #DEC1DB;
    display: flex;
    justify-content: center;
}
